html {
    font-size: 125%;
    font-family: $body-font;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
}

img {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
p,
nav,
ul,
li,
a,
input,
fieldset {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}