@mixin containerWidth($columns, $pixels) {
    width: calc((100% / $columns) - $pixels);
}

@mixin contactGalleryWidth($min-width, $height) {
    min-width: $min-width;
    height: $height;
}

// @mixin swipeEffect($width, $transitionTime) {
//     width: $width;
//     transition: $transitionTime;
// }