@mixin containerWidth($columns, $pixels) {
    width: calc((100% / $columns) - $pixels);
}

@mixin contactGalleryWidth($min-width, $height) {
    min-width: $min-width;
    height: $height;
}

@keyframes swipeEffect {
    0% {width: 264.567px;}
    5% {width: 264.567px;}
    10% {width: 0px;}
    15% {width: 0px;}
    20% {width: 0px;}
    25% {width: 376.317px; content: 'amateur jiu-jitsu practioner';}

    35% {width: 376.317px;}
    40% {width: 0px;}
    45% {width: 0px;}
    50% {width: 0px;}
    55% {width: 200.283px; content: 'problem solver';}

    60% {width: 200.283px;}
    65% {width: 0px;}
    70% {width: 0px;}
    75% {width: 0px;}
    80% {width: 295.433px; content: 'technology enthusiast';}

    85% {width: 295.433px;}
    90% {width: 0px;}
    95% {width: 0px;}
    100% {width: 264.567px; content: 'front-end developer';}
}