h1 {
    font-size: 4rem;
    line-height: 92px;
    letter-spacing: 1px;
}

h2, h3, h4 {
    text-transform: uppercase;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.05rem;
}

p {
    line-height: 32px;
    letter-spacing: 1px;
    font-family: $paragraph-font;
}

.button {
    background-color: $accent;
    padding: 10px 20px;
    text-align: center;
    border: none;
    line-height: 32px;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
}

h1,
.button {
    text-transform: uppercase;
    color: $white;
}