// Colours
$black: #161616;
$grey: #333333;
$white: #FFFFFF;
$offWhite: #f2f2f2;
$lightgray: #d3d3d3;
$accent: #2ba5e2;
$gold: #e2c42b;
$blue: #009CC4;
$green: #345231

// Font Styles
$body-font: 'Poppins', sans-serif;
$paragraph-font: 'Raleway', sans-serif;