.about {
    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h2 {
        border-bottom: 2px solid $accent;
        display: inline-block;
    }

    .profileImgContainer {
        width: 35%;
        transition: 0.2s;
    }
    
    .profileImg {
        img {
            border-radius: 50%;
        }
    }

    .profileBioContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 45%;

        > *:not(.headerContainer),
        h2 {
            padding: 10px 0;
        }
    }
}

@media (max-width: 945px) {
    .about {
        .wrapper {
            flex-direction: column;
        }

        .profileImgContainer,
        .profileBioContainer {
            width: 75%;
        }
        .profileBioContainer {
            align-items: center;
            margin-top: 20px;
        }
        
    }

}