.contact {
    background-color: $offWhite;

    h2 {
        text-align: center;
    }

    .underline {
        margin-bottom: 40px;
    }

    .contactGallery {
        display: flex;
        justify-content: space-around;
        > * {
            transition: 0.2s;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            @include contactGalleryWidth(260px, 145px);
            
            margin: 20px;
            box-shadow: 0px 20px 60px lightgray;

            p {
                font-size: 0.9rem;
            }
        }
    }

    .iconContainer {
        i {
            font-size: 30px;
            color: $accent;
        }
    }
    
    .socialMedia {
        ul {
            display: flex;
            justify-content: space-between;
            width: 50px;
        }
    }

    .myForm {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    fieldset {
        transition: 0.25s;
        border: none;
        box-shadow: 0px 20px 60px lightgray;
        min-width: 1000px;
        padding: 50px;
    }

    .inputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        input {
            padding: 5px 4px;
            @include containerWidth(2, 10px);
            border: none;
            border-bottom: 1px solid black;
        }
    }

    textarea {
        padding: 5px 4px;
        width: 100%;
        margin-bottom: 35px;
    }

    .button {
        display: block;
        transition: 0.25s;
    }
}

@media(max-width: 1182px) {
    .contact {
        .contactGallery {
            > * {
                @include contactGalleryWidth(240px, 125px);
            }
        }

        fieldset {
            min-width: 800px;
        }
    }
}

@media(max-width: 1105px) {
    .contact {
        .contactGallery {
            flex-wrap: wrap;
            > * {
                @include containerWidth(2, 40px);
            }
        }
    }
}

@media(max-width: 855px) {
    .contact {
        fieldset {
            min-width: 100%;
        }
        
        .inputs {
            flex-direction: column;
            input {
                @include containerWidth(1, 0px);

                &:nth-child(2){
                    margin-bottom: 35px;
                }
            }
        }

        .button {
            width: 100%;
        }
    }
}

@media (max-width: 645px) {
    .contact {
        .contactGallery {
            > * {
                @include containerWidth(1, 40px);
            }
        }
    }
}