.footer {
    background-color: $black;
    color: $white;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        text-align: center;
    }
}