.header {
    height: 100vh;
    background-image: url(../assets/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;


    .wrapper {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > * {
            margin: 10px 0;
        }
    }

    .buttonsContainer {
        min-width: 340px;
        display: flex;
        justify-content: space-between;

        .contactMe {
            transition: 0.25s;
            color: $black;
            background-color: $white;

            &:hover,
            &:focus {
                color: $white;
                background-color: $accent;
            }
        }

    }
    
    .subtext {
        display: flex;
        // position: relative;

        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        transition: 1.5s;

        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        &::before {
            transition: 0.2s;
            content: 'Front-End Developer';
            // transition: 1.5s;
            width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            // animation: swipey 10s linear 1;
        }
        &::after {
            content: "|";
            color: grey;
            font-size: 1.8rem;

            // position: absolute;
            // right: 0;
            // top: 0;
        }
    }

    
    .swipe {
        // animation: swipeIn 1.5s linear 1;
        // @include swipeEffect(0%, 1.5s);
        // width: 0%;
        // max-width: 0;
        transition: 1.5s;
        max-width: 0;
    }

    .swipeIn {
        // animation: swipeOut 1.5s linear infinite;
        // @include swipeEffect(100%, 1.5s);
        animation: swipey 1.5s linear 1;
    }

    .textSwipe {
        color: grey;
        font-size: 1.3rem;
    }

    .subtextContainer {
        transition: 1.5s;
        display: flex;
    }
}

@media (max-width: 645px) {
    .header {

        h1 {
            font-size: 11.5vw;
        }
    }
}

@media (max-width: 460px) {
    .header {
        .buttonsContainer {
            flex-direction: column;
            align-items: center;
            
            .button {
                margin: 5px 0;
                width: 200px;
            }
        }
    }
}