.header {
    height: 100vh;
    background-image: url(../assets/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;


    .wrapper {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > * {
            margin: 10px 0;
        }
    }

    .contactMe {
        transition: 0.25s;
        color: $black;
        background-color: $white;

        &:hover,
        &:focus {
            color: $white;
            background-color: $accent;
        }
    }

    .subtextContainer {
        position: relative;
    }
    
    .subtext {
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;

        &::before {
            transition: 0.2s;
            content: 'Front-End Developer';
            display: block;
            white-space: nowrap;
            overflow: hidden;
            animation: swipeEffect 10s linear infinite;
        }
        
        &::after {
            content: "|";
            color: $accent;
            font-size: 1.3rem;
            position: absolute;
            right: -4%;
            top: -3%;
        }
    }
}

@media (max-width: 645px) {
    .header {

        h1 {
            font-size: 11.5vw;
        }
    }
}

@media (max-width: 460px) {
    .header {
        .buttonsContainer {
            flex-direction: column;
            align-items: center;
            
            .button {
                margin: 5px 0;
                width: 200px;
            }
        }
    }
}