.navBar {
    // background: linear-gradient(-45deg, $white, $white, rgba(255, 217, 0, 0.445), $white, $white);
    // background: linear-gradient(-45deg, $accent, $blue, $black, $blue, $accent);
    // background-size: 600%;
    // animation: navGradient 30s ease infinite;
    height: 55px;
    background-color: $transWhite;

    // border-top: 3px solid $accent;
    // border-bottom: 3px solid $accent;
    // box-shadow: 0px 5px 20px $offWhite;

    display: flex;
    align-items: center;

    position: sticky;
    z-index: 100;
    top: 0;

    border-bottom: 2px solid black;
    border-top: 2px solid black;
    // transition: 0.3s;
    // opacity: 0.1;

    // &:hover {
    //     opacity: 1;
    // }
    
    .navBarContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mainMenu {
        display: flex;
        width: 500px;
        justify-content: space-between;
    }
    
    a {
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        transition: 0.3s;

        &:hover,
        &:focus {
            color: $accent;
            // border-bottom: 2.5px solid $accent;
        }
    }

    .menuBar {
        width: 40px;
        height: 3.5px;
        display: block;
        background-color: $accent;
        margin: 4px auto;
        border-radius: 30px;
    }

    .navBarContainer {
    transition: 0.35s;
    }

    .mobileMenu {
        li {
            padding: 20px 0 20px 5%;
        }
    }

    .menuBar {
        transition: 0.5s;
    }

    .midBar {
        transition: 0.2s;
    }
}

.hamburgerMenu,
.mobileNav {
    display: none;
}

.mobileNav{ 
    // background: linear-gradient(-45deg, $white, $white, rgba(255, 217, 0, 0.445), $white, $white);
    // background-size: 600%;
    // animation: navGradient 30s ease infinite;
    background-color: $white;
}

.extendMenuDrop {
    height: auto;
}

.extendMenuDisplay {
    border-bottom: 2px solid $accent;
    padding-top: 15px;
    display: block;
    background-color: $white;
    position: absolute;
    width: 100%;
    left: 0;
}

.bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.bar2 {
    visibility: hidden;
}

.bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.extendMenuBorder {
    border-bottom: 1.5px solid $accent;
    padding-bottom: 12px;
}

@media (max-width: 645px) {
    .navBar {  
        // align-items: flex-start;
        padding: 10.5px 0;

        .mainMenu {
            display: none;
        }

        .hamburgerMenu {
            cursor: pointer;
            display: flex;
            flex-direction: column;
        }
    }
}