.navBar {
    background-color: $accent;
    height: 55px;

    display: flex;
    align-items: center;

    position: sticky;
    z-index: 100;
    top: 0;
    
    .navBarContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mainMenu {
        display: flex;
        width: 500px;
        justify-content: space-between;
    }
    
    a {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.25s;

        &:hover,
        &:focus {
            color: $gold;
        }
    }

    .logo {
        font-weight: bold;
    }

    .menuBar {
        width: 40px;
        height: 3.5px;
        display: block;
        background-color: $white;
        margin: 4px auto;
        border-radius: 30px;
    }

    .navBarContainer {
    transition: 0.35s;
    }

    .mobileMenu {
        li {
            padding: 20px 0 20px 5%;
        }
    }
}

.hamburgerMenu,
.mobileNav {
    display: none;
}

.extendMenuDrop {
    height: auto;
}

.extendMenuDisplay {
    padding-top: 15px;
    display: block;
    background-color: $accent;
    position: absolute;
    width: 100%;
    left: 0;
}

.extendMenuBorder {
    border-bottom: 1.5px solid $white;
    padding-bottom: 12px;
}

@media (max-width: 645px) {
    .navBar {  
        align-items: flex-start;
        padding: 10.5px 0;

        .mainMenu {
            display: none;
        }

        .hamburgerMenu {
            cursor: pointer;
            display: flex;
            flex-direction: column;
        }
    }
}