.portfolio {
    text-align: center;
    background-color: $white;

    .underline {
        margin-bottom: 40px;
    }

    .portfolioContainer {
        padding: 30px;
        margin-bottom: 25px;
        transition: 0.3s;
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0;
        box-shadow: 0 20px 60px #d3d3d3;
    }

    .projectImgContainer {
        width: 42.7%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projectDescriptionContainer {
        width: 57.3%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        
        p {
            text-align: left;
        }
    }
    
    .projectSkills {
        > * {
            display: inline-block;
            padding: 5px;
            border-radius: 10px;
            margin: 5px 0;
        }
    }

    .projectSimpsonsContainer,
    .projectCYOAContainer,
    .projectPSDContainer,
    .projectSudokuContainer {
        .projectIcon {
            transform: translateY(2px);
        }
    }

    .projectBackronymContainer {
        .projectSkills {
            > * {
                @include projectSkillsStyles($black, $black, $ocean);
            }
        }
    }

    .projectSimpsonsContainer {
        .projectSkills {
            > * {
                @include projectSkillsStyles($black, $gold, $black);
            }
        }
    }

    .projectCYOAContainer {
        .projectSkills {
            > * {
                @include projectSkillsStyles($gold, $black, $offWhite);
            }
        }
    }

    .projectPSDContainer {
        .projectSkills {
            > * {
                @include projectSkillsStyles($black, $white, $green);
            }
        }
    }

    .projectSudokuContainer{
        .projectSkills  > * {
            @include projectSkillsStyles($black, $black, $peach);
        }
    }

    .projectIcon {
        display: inline;
        width: 25px;
        height: 25px;
    }

    .buttonContainer {
        margin-top: 10px;

        .anchorButtons {
            border: 3px solid $black;
            transition: 0.25s;
            &:hover,
            &:focus {
                color: $black;
                background-color: $white;
                border: 3px solid $black;
            }
        }
    }
}

@media (max-width: 935px) {
    .portfolio {
        .projectDescription {
            p {
                line-height: 2.5vw;
            }
        }
    }
}

@media (max-width: 855px) {
    .portfolio {
        .projectSkills {
            > * {
                margin: 10px 0;
            }
        }

        .projectImgContainer,
        .projectDescriptionContainer {
            width: 100%;
        }

        .projectDescriptionContainer {
            align-items: center;
            p {
                text-align: center;
            }
        }
    }
}