.skills {
    // padding: 50px 0 0 0;
    background-color: $offWhite;
    text-align: center;

    .skillsIconGallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .devIconContainer {
        @include containerWidth(5, 40px);
        margin: 40px 20px;
        color: $accent;
        transition: 0.3s;
        > * {
            font-size: 80px;
        }

        &:hover {
            color: $gold;
            transform: translateY(-10px);
        }
    }
}

@media (max-width: 645px) {
    .skills {
        .devIconContainer  {
            @include containerWidth(3, 40px);
        }
    }
}

@media (max-width: 460px) {
    .skills {
        .devIconContainer  {
            @include containerWidth(2, 40px);
        }
    }
}