html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  line-height: 92px;
  letter-spacing: 1px;
}

h2, h3, h4 {
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.05rem;
}

p {
  line-height: 32px;
  letter-spacing: 1px;
}

.button {
  background-color: #F24259;
  padding: 10px 20px;
  text-align: center;
  border: none;
  line-height: 32px;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
}

h1,
.button {
  text-transform: uppercase;
  color: #FFFFFF;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
p,
nav,
ul,
li,
a,
input,
fieldset {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 65px 0;
}

.underline {
  height: 2.5px;
  width: 110px;
  background-color: #F24259;
  position: relative;
  margin: 10px auto 0;
}
.underline::before, .underline::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F24259;
  position: absolute;
  top: -140%;
}
.underline::before {
  left: -5%;
}
.underline::after {
  right: -5%;
}

.header {
  height: 100vh;
  background-image: url(../assets/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.header .wrapper {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .wrapper > * {
  margin: 10px 0;
}
.header .buttonsContainer {
  min-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .buttonsContainer .button {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.header .buttonsContainer .contactMe {
  color: #161616;
  background-color: #FFFFFF;
}
.header .buttonsContainer .contactMe:hover, .header .buttonsContainer .contactMe:focus {
  color: #FFFFFF;
  background-color: #F24259;
}
.header p {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 645px) {
  .header h1 {
    font-size: 11.5vw;
  }
}
@media (max-width: 460px) {
  .header .buttonsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .buttonsContainer .button {
    margin: 5px 0;
    width: 200px;
  }
}
.navBar {
  background-color: #F24259;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
}
.navBar .navBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar a {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.navBar a:hover, .navBar a:focus {
  color: #161616;
}
.navBar .logo {
  font-weight: bold;
}
.navBar .menuBar {
  width: 40px;
  height: 3.5px;
  display: block;
  background-color: #FFFFFF;
  margin: 4px auto;
  border-radius: 30px;
}
.navBar .navBarContainer {
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.navBar .mobileMenu li {
  padding: 20px 0 20px 5%;
}

.hamburgerMenu,
.mobileNav {
  display: none;
}

.extendMenuDrop {
  height: auto;
}

.extendMenuDisplay {
  padding-top: 15px;
  display: block;
  background-color: #F24259;
  position: absolute;
  width: 100%;
  left: 0;
}

.extendMenuBorder {
  border-bottom: 1.5px solid #FFFFFF;
  padding-bottom: 12px;
}

@media (max-width: 645px) {
  .navBar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10.5px 0;
  }
  .navBar .mainMenu {
    display: none;
  }
  .navBar .hamburgerMenu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about h2 {
  border-bottom: 2px solid #F24259;
  display: inline-block;
}
.about .profileImgContainer {
  width: 35%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.about .profileBioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 45%;
}
.about .profileBioContainer > *:not(.headerContainer),
.about .profileBioContainer h2 {
  padding: 10px 0;
}

@media (max-width: 945px) {
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .profileImgContainer,
.about .profileBioContainer {
    width: 75%;
  }
  .about .profileBioContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}
.skills {
  background-color: #f2f2f2;
  text-align: center;
}
.skills .skillsIconGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills .devIconContainer {
  width: calc(20% - 40px);
  margin: 40px 20px;
  color: #F24259;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skills .devIconContainer > * {
  font-size: 80px;
}
.skills .devIconContainer:hover {
  color: #ffd700;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 645px) {
  .skills .devIconContainer {
    width: calc(33.3333333333% - 40px);
  }
}
@media (max-width: 460px) {
  .skills .devIconContainer {
    width: calc(50% - 40px);
  }
}
.portfolio {
  text-align: center;
}
.portfolio .underline {
  margin-bottom: 40px;
}
.portfolio .portfolioGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio .portfolioContainer {
  width: calc(33.3333333333% - 10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 5px 5px;
  position: relative;
}
.portfolio .portfolioContainer:hover .projectImg {
  opacity: 0.2;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  z-index: -10;
}
.portfolio .portfolioContainer:hover .projectDescription {
  visibility: visible;
  z-index: 10;
  top: 0;
  color: black;
}
.portfolio .projectDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: calc(100% - 32.2px);
  text-align: left;
  visibility: hidden;
  color: transparent;
  top: -85px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.portfolio .projectDescription p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: normal;
  line-height: 30px;
}
.portfolio .anchorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .anchorContainer a {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F24259;
  border: 1px solid #F24259;
  color: #FFFFFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.portfolio .anchorContainer a:hover {
  background-color: #FFFFFF;
  border: 1px solid #161616;
  color: black;
}
.portfolio .anchorContainer .magnifyingAnchor {
  margin-right: 2.5px;
}
.portfolio .anchorContainer .gitAnchor {
  margin-left: 2.5px;
}

@media (max-width: 935px) {
  .portfolio .projectDescription p {
    line-height: 2.5vw;
  }
}
@media (max-width: 855px) {
  .portfolio .portfolioContainer {
    width: calc(50% - 10px);
  }
  .portfolio .projectDescription p {
    line-height: 30px;
  }
}
@media (max-width: 645px) {
  .portfolio .portfolioContainer {
    width: calc(100% - 10px);
  }
}
.contact {
  background-color: #f2f2f2;
}
.contact h2 {
  text-align: center;
}
.contact .underline {
  margin-bottom: 40px;
}
.contact .contactGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact .contactGallery > * {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 260px;
  height: 145px;
  margin: 20px;
  -webkit-box-shadow: 0px 20px 60px lightgray;
          box-shadow: 0px 20px 60px lightgray;
}
.contact .contactGallery > * p {
  font-size: 0.9rem;
}
.contact .iconContainer i {
  font-size: 30px;
  color: #F24259;
}
.contact .socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
}
.contact .socialMedia ul a {
  color: #F24259;
}
.contact .myForm {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact fieldset {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border: none;
  -webkit-box-shadow: 0px 20px 60px lightgray;
          box-shadow: 0px 20px 60px lightgray;
  min-width: 1000px;
  padding: 50px;
}
.contact .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.contact .inputs input {
  padding: 5px 4px;
  width: calc(50% - 10px);
  border: none;
  border-bottom: 1px solid black;
}
.contact textarea {
  padding: 5px 4px;
  width: 100%;
  margin-bottom: 35px;
}
.contact .button {
  display: block;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media (max-width: 1182px) {
  .contact .contactGallery > * {
    min-width: 240px;
    height: 125px;
  }
  .contact fieldset {
    min-width: 800px;
  }
}
@media (max-width: 1105px) {
  .contact .contactGallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contactGallery > * {
    width: calc(50% - 40px);
  }
}
@media (max-width: 855px) {
  .contact fieldset {
    min-width: 100%;
  }
  .contact .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .inputs input {
    width: calc(100% - 0px);
  }
  .contact .inputs input:nth-child(2) {
    margin-bottom: 35px;
  }
  .contact .button {
    width: 100%;
  }
}
@media (max-width: 645px) {
  .contact .contactGallery > * {
    width: calc(100% - 40px);
  }
}
.footer {
  background-color: #161616;
  color: #FFFFFF;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .wrapper {
  text-align: center;
}