html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  line-height: 92px;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

h4 {
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: normal;
}

p {
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
}

.button {
  background-color: #FC5703;
  padding: 10px 20px;
  text-align: center;
  border: none;
  line-height: 32px;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
  border-radius: 10px;
}

h1,
.button {
  text-transform: uppercase;
  color: #FFFFFF;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
p,
nav,
ul,
li,
a,
input,
fieldset {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 65px 0;
}

.underline {
  height: 2.5px;
  width: 110px;
  background-color: #FC5703;
  position: relative;
  margin: 10px auto 0;
}
.underline::before, .underline::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FC5703;
  position: absolute;
  top: -140%;
}
.underline::before {
  left: -5%;
}
.underline::after {
  right: -5%;
}

.fade {
  position: relative;
  top: -40px;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  opacity: 0;
}

.show {
  top: 0;
  opacity: 1;
}

@-webkit-keyframes slide {
  10% {
    -webkit-transform: translateX(-103.9%);
            transform: translateX(-103.9%);
  }
  25% {
    -webkit-transform: translateX(-99.9%);
            transform: translateX(-99.9%);
  }
  35% {
    -webkit-transform: translateX(-203.9%);
            transform: translateX(-203.9%);
  }
  50% {
    -webkit-transform: translateX(-199.9%);
            transform: translateX(-199.9%);
  }
  60% {
    -webkit-transform: translateX(-303.9%);
            transform: translateX(-303.9%);
  }
  75% {
    -webkit-transform: translateX(-299.9%);
            transform: translateX(-299.9%);
  }
  85% {
    -webkit-transform: translateX(-403.9%);
            transform: translateX(-403.9%);
  }
  100% {
    -webkit-transform: translateX(-399.9%);
            transform: translateX(-399.9%);
  }
}

@keyframes slide {
  10% {
    -webkit-transform: translateX(-103.9%);
            transform: translateX(-103.9%);
  }
  25% {
    -webkit-transform: translateX(-99.9%);
            transform: translateX(-99.9%);
  }
  35% {
    -webkit-transform: translateX(-203.9%);
            transform: translateX(-203.9%);
  }
  50% {
    -webkit-transform: translateX(-199.9%);
            transform: translateX(-199.9%);
  }
  60% {
    -webkit-transform: translateX(-303.9%);
            transform: translateX(-303.9%);
  }
  75% {
    -webkit-transform: translateX(-299.9%);
            transform: translateX(-299.9%);
  }
  85% {
    -webkit-transform: translateX(-403.9%);
            transform: translateX(-403.9%);
  }
  100% {
    -webkit-transform: translateX(-399.9%);
            transform: translateX(-399.9%);
  }
}
@-webkit-keyframes navGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes navGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  height: 93vh;
  background-image: url(../assets/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.header .wrapper {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .wrapper > * {
  margin: 10px 0;
}
.header .contactMe {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #FFFFFF;
  background-color: #FC5703;
  border: 1px solid #FC5703;
}
.header .contactMe:hover, .header .contactMe:focus {
  color: #161616;
  background-color: #FFFFFF;
  border: 1px solid #161616;
}
.header .subtextContainer {
  height: 90px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.header .aboutMeList {
  width: 2500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .aboutMeList > * {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 400px;
  text-align: center;
  -webkit-animation: slide 9s infinite;
          animation: slide 9s infinite;
}

@media (max-width: 645px) {
  .header h1 {
    font-size: 11.5vw;
  }
}
@media (max-width: 350px) {
  .header .aboutMeList > * {
    font-size: 0.9rem;
  }
}
.navBar {
  height: 7vh;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
}
.navBar .navBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar a {
  color: #161616;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar a:hover, .navBar a:focus {
  color: #FC5703;
}
.navBar .menuBar {
  width: 40px;
  height: 3.5px;
  display: block;
  background-color: #FC5703;
  margin: 4px auto;
  border-radius: 30px;
}
.navBar .navBarContainer {
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.navBar .mobileMenu li {
  padding: 20px 0 20px 5%;
}
.navBar .menuBar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navBar .midBar {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hamburgerMenu,
.mobileNav {
  display: none;
}

.mobileNav {
  background-color: #FFFFFF;
}

.extendMenuDrop {
  height: auto;
}

.extendMenuDisplay {
  border-bottom: 2px solid #FC5703;
  padding-top: 15px;
  display: block;
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  left: 0;
}

.bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
          transform: rotate(-45deg) translate(-8px, 8px);
}

.bar2 {
  visibility: hidden;
}

.bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.extendMenuBorder {
  border-bottom: 1.5px solid #FC5703;
  padding-bottom: 12px;
}

@media (max-width: 645px) {
  .navBar {
    padding: 10.5px 0;
  }
  .navBar .mainMenu {
    display: none;
  }
  .navBar .hamburgerMenu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about {
  background-color: #FFFFFF;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about h2 {
  border-bottom: 2px solid #FC5703;
  display: inline-block;
}
.about .profileImgContainer {
  width: 35%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.about .profileImg {
  border-radius: 50%;
  border: 5px solid #FC5703;
  -webkit-box-shadow: 0 0 0px 15px #333333;
          box-shadow: 0 0 0px 15px #333333;
}
.about .profileImg img {
  border-radius: 50%;
}
.about .profileBioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 45%;
}
.about .profileBioContainer > *:not(.headerContainer),
.about .profileBioContainer h2 {
  padding: 10px 0;
}

@media (max-width: 945px) {
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .profileImgContainer,
.about .profileBioContainer {
    width: 75%;
  }
  .about .profileBioContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}
.skills {
  background-color: #f2f2f2;
  text-align: center;
}
.skills .skillsWrapper {
  -webkit-box-shadow: 0px 20px 20px #d3d3d3;
          box-shadow: 0px 20px 20px #d3d3d3;
  padding: 30px;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills .skillsIconGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 600px;
  border: 10px solid #333333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #BA4102;
}
.skills .skillsIconGallery::after {
  content: "";
  position: relative;
  height: 20%;
  width: 20%;
  background-color: #FC5703;
  border: 1px solid #FC5703;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 100px #D84B02;
          box-shadow: 0 0 0 100px #D84B02;
  background-image: url("../assets/arrows-up-down-left-right-solid2.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.skills .devIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 145px;
  width: 145px;
  background-color: #FFFFFF;
  border: 5px solid #333333;
  border-radius: 100%;
  color: #FC5703;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -72.5px;
}
.skills .devIconContainer i,
.skills .devIconContainer .material-symbols-outlined {
  font-size: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.skills .devIconContainer > * {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.skills .devIconContainer:hover > * {
  color: #333333;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.skills .skillName {
  font-size: 0.9rem;
}

.portfolio {
  text-align: center;
  background-color: #FFFFFF;
}
.portfolio .underline {
  margin-bottom: 40px;
}
.portfolio .newPortfolioContainer {
  padding: 30px;
  margin-bottom: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
  -webkit-box-shadow: 0 20px 60px #d3d3d3;
          box-shadow: 0 20px 60px #d3d3d3;
}
.portfolio .newProjectImgContainer {
  width: 42.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio .newProjectDescriptionContainer {
  width: 57.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.portfolio .newProjectDescriptionContainer p {
  text-align: left;
}
.portfolio .projectSkills > * {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 0;
}
.portfolio .project1Container .projectSkills > * {
  border: 3px solid #161616;
  color: #e2c42b;
  background-color: #161616;
}
.portfolio .project2Container .projectSkills > * {
  border: 3px solid #161616;
  color: #FFFFFF;
  background-color: #345231;
}
.portfolio .project3Container .projectSkills > * {
  border: 3px solid #e2c42b;
  color: #161616;
  background-color: #f2f2f2;
}
.portfolio .projectImg {
  width: 25px;
  height: 25px;
}
.portfolio .projectTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio .buttonContainer {
  margin-top: 10px;
}
.portfolio .buttonContainer .anchorButtons {
  border: 3px solid #161616;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.portfolio .buttonContainer .anchorButtons:hover, .portfolio .buttonContainer .anchorButtons:focus {
  color: #161616;
  background-color: #FFFFFF;
  border: 3px solid #161616;
}

@media (max-width: 935px) {
  .portfolio .projectDescription p {
    line-height: 2.5vw;
  }
}
@media (max-width: 855px) {
  .portfolio .projectSkills > * {
    margin: 10px 0;
  }
  .portfolio .newProjectImgContainer,
.portfolio .newProjectDescriptionContainer {
    width: 100%;
  }
  .portfolio .newProjectDescriptionContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .newProjectDescriptionContainer p {
    text-align: center;
  }
}
@media (max-width: 569px) {
  .portfolio .project3Title {
    display: -webkit-box;
  }
}
@media (max-width: 324px) {
  .portfolio .project1Title {
    display: -webkit-box;
  }
}
.contact {
  background-color: #f2f2f2;
}
.contact h2 {
  text-align: center;
}
.contact .underline {
  margin-bottom: 40px;
}
.contact .contactGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact .contactGallery > * {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 260px;
  height: 145px;
  margin: 20px;
  -webkit-box-shadow: 0px 20px 60px lightgray;
          box-shadow: 0px 20px 60px lightgray;
}
.contact .contactGallery > * p,
.contact .contactGallery > * a {
  font-size: 0.9rem;
}
.contact .contactGallery .email a,
.contact .contactGallery .phone a {
  color: #161616;
}
.contact .iconContainer i {
  font-size: 30px;
  color: #FC5703;
}
.contact .socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
}
.contact .socialMedia ul a {
  color: #FC5703;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact .socialMedia ul a:hover, .contact .socialMedia ul a:focus {
  color: #e2c42b;
}
.contact .myForm {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact fieldset {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border: none;
  -webkit-box-shadow: 0px 20px 60px #d3d3d3;
          box-shadow: 0px 20px 60px #d3d3d3;
  min-width: 1000px;
  padding: 50px;
}
.contact .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}
.contact .inputs input {
  padding: 5px 4px;
  width: calc(50% - 10px);
  height: width;
  border: none;
  border-bottom: 1px solid black;
}
.contact textarea {
  padding: 5px 4px;
  width: 100%;
  margin-bottom: 35px;
}
.contact .button {
  display: block;
  border: 1px solid #FC5703;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}
.contact .button:hover, .contact .button:focus {
  color: #161616;
  background-color: #FFFFFF;
  border: 1px solid #161616;
}

@media (max-width: 1182px) {
  .contact .contactGallery > * {
    min-width: 240px;
    height: 125px;
  }
  .contact fieldset {
    min-width: 800px;
  }
}
@media (max-width: 1105px) {
  .contact .contactGallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contactGallery > * {
    width: calc(50% - 40px);
    height: width;
  }
}
@media (max-width: 855px) {
  .contact fieldset {
    min-width: 100%;
  }
  .contact .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .inputs input {
    width: calc(100% - 0px);
    height: width;
  }
  .contact .inputs input:nth-child(2) {
    margin-bottom: 35px;
  }
  .contact .button {
    width: 100%;
  }
}
@media (max-width: 645px) {
  .contact .contactGallery > * {
    width: calc(100% - 40px);
    height: width;
  }
}
.footer {
  background-color: #161616;
  color: #FFFFFF;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .wrapper {
  text-align: center;
}